.cal{
    height: 370px;
  width: 300px;
  background-color: lightsteelblue;
  margin-left: 560px;
}
.calculator {
    text-align: center;
    padding: 20px;

}
.key{
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 200px;
}
button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.operator {
    background-color: #f1f1f1;
}

.equals {
    background-color: #5cb85c;
    color: white;
}

.clear {
    background-color: #d9534f;
    color: white;
}
